{% load order %}<div id="basket">
  <h3>Your Basket</h3>
  <ul>
  {% if order.items.exists %}
  {% for item in order %}
    <li>
      <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a> x {{ item.quantity }}
      <small>[<a href="{% url order:remove-item content_type=item.content_type.pk object_id=item.object_id %}">remove</a>]</small>
    </li>
  {% endfor %}
  </ul>
  {% with order|length as item_count %}
  <p>{{ item_count }} item{{ item_count|pluralize }} | {{ order.total }}</p>
  {% endwith %}
  {% else %}
  <p>Your order is empty</p>
  {% endif %}
</div>